
body {
    background: linear-gradient(155deg, rgba(114,226,255,1) 0%, rgba(7,20,158,1) 97%);
    padding: 10;
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
canvas {
    position: absolute;
    border-radius: 3px;
}
img{
    flex-direction: column;
}
.webcam{
    margin-top: 60px;
    flex-direction: column;
}