body {
    background: rgb(114,226,255);
    background: linear-gradient(155deg, rgba(114,226,255,1) 0%, rgba(7,20,158,1) 97%);
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}